# Copyright 2025 Alejandro Martínez Corriá and the Thinkube contributors
# SPDX-License-Identifier: Apache-2.0

[defaults]
host_key_checking = False
inventory = /home/coder/thinkube/inventory/hosts.yaml
remote_user = {{ system_username }}
private_key_file = /host-ssh/thinkube_cluster_key
interpreter_python = auto_silent

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no