#!/bin/bash

# Copyright 2025 Alejandro Martínez Corriá and the Thinkube contributors
# SPDX-License-Identifier: Apache-2.0

# Wrapper script for Ansible to use virtual environment
source /home/coder/.ansible-venv/bin/activate
exec ansible "$@"