# Copyright 2025 Alejandro Martínez Corriá and the Thinkube contributors
# SPDX-License-Identifier: Apache-2.0

contexts:
- name: {{ argocd_grpc_hostname }}
  server: https://{{ argocd_grpc_hostname }}
  user: {{ argocd_grpc_hostname }}
current-context: {{ argocd_grpc_hostname }}
servers:
- grpc-web: true
  insecure: true
  server: https://{{ argocd_grpc_hostname }}
users:
- auth-token: {{ argocd_deployment_token }}
  name: {{ argocd_grpc_hostname }}
