# Copyright 2025 Alejandro Martínez Corriá and the Thinkube contributors
# SPDX-License-Identifier: Apache-2.0

server: {{ argo_grpc_domain }}:443
namespace: argo
token: {{ argo_service_account_token }}
secure: true