# Copyright 2025 Alejandro Martínez Corriá and the Thinkube contributors
# SPDX-License-Identifier: Apache-2.0

# SSH Configuration for Code-Server
# This configuration enables SSH access to all Thinkube nodes

# Ansible controller (localhost)
Host ansible-controller localhost 127.0.0.1
    HostName 127.0.0.1
    User thinkube
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    LogLevel ERROR

# Thinkube Control Plane
{% for host in groups['microk8s_control_plane'] %}
Host {{ host }} {{ hostvars[host]['ansible_hostname'] }} {{ hostvars[host]['ansible_default_ipv4']['address'] }}
    HostName {{ hostvars[host]['ansible_default_ipv4']['address'] }}
    User thinkube
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    LogLevel ERROR
{% endfor %}

# Thinkube Worker Nodes
{% for host in groups['microk8s_workers'] %}
Host {{ host }} {{ hostvars[host]['ansible_hostname'] }} {{ hostvars[host]['ansible_default_ipv4']['address'] }}
    HostName {{ hostvars[host]['ansible_default_ipv4']['address'] }}
    User thinkube
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    LogLevel ERROR
{% endfor %}

# GitHub SSH Configuration
Host github.com
    HostName github.com
    User git
    IdentityFile ~/.ssh/github_ed25519
    StrictHostKeyChecking no
    AddKeysToAgent yes

# Default for all hosts
Host *
    ForwardAgent yes
    ServerAliveInterval 60
    ServerAliveCountMax 3