{
  "folders": [
    {
      "name": "Apps",
      "path": "/home/thinkube/apps"
    },
    {
      "name": "User Templates",
      "path": "/home/thinkube/user-templates"
    },
    {
      "name": "Core",
      "path": "/home/thinkube/thinkube-platform/core"
    },
    {
      "name": "Docs",
      "path": "/home/thinkube/thinkube-platform/docs"
    },
    {
      "name": "Templates",
      "path": "/home/thinkube/thinkube-platform/templates"
    },
    {
      "name": "Extensions",
      "path": "/home/thinkube/thinkube-platform/extensions"
    },
    {
      "name": "Jupyter Extensions",
      "path": "/home/thinkube/thinkube-platform/jupyter-extensions"
    },
    {
      "name": "MCP",
      "path": "/home/thinkube/thinkube-platform/mcp"
    },
    {
      "name": "Misc",
      "path": "/home/thinkube/thinkube-platform/misc"
    }
  ],
  "settings": {
  }
}
