{
  "folders": [
    {
      "name": "Apps",
      "path": "/home/thinkube"
    },
    {
      "name": "Platform",
      "path": "/home/thinkube/thinkube-platform"
    }
  ],
  "settings": {
    "files.exclude": {
      "thinkube-platform": true
    }
  }
}
