{
  "folders": [
    {
      "name": "Apps",
      "path": "/home/thinkube/apps"
    },
    {
      "name": "User Templates",
      "path": "/home/thinkube/user-templates"
    },
    {
      "name": "Platform",
      "path": "/home/thinkube/thinkube-platform"
    },
    {
      "name": "Tandem Board",
      "path": "/home/thinkube/thinkube-tandem"
    }
  ],
  "settings": {
  }
}
