{
  "files.exclude": {
    "**/.cache": true,
    "**/.config": true,
    "**/.local": true,
    "**/.npm": true,
    "**/.vscode-server": true,
    "**/.ansible": true,
    "**/.ansible-venv": true,
    "**/.ssh": true,
    "**/ansible/.ansible": true,
    "**/tmp": true,
    "**/node_modules": true,
    "**/.git": false,
    "**/.gitignore": false
  },
  "explorer.excludeGitIgnore": false,
  "search.exclude": {
    "**/.cache": true,
    "**/.config": true,
    "**/.local": true,
    "**/.npm": true,
    "**/.vscode-server": true,
    "**/.ansible-venv": true,
    "**/node_modules": true,
    "**/tmp": true
  },
  "terminal.integrated.defaultProfile.linux": "bash",
  "terminal.integrated.profiles.linux": {
    "bash": {
      "path": "/bin/bash",
      "args": ["-l"]
    }
  }
}