# Copyright 2025 Alejandro Martínez Corriá and the Thinkube contributors
# SPDX-License-Identifier: Apache-2.0

apiVersion: v1
kind: Secret
metadata:
  name: harbor-tls-secret
  namespace: {{ harbor_namespace }}
  labels:
    app.kubernetes.io/name: "wildcard-certificate"
    app.kubernetes.io/instance: "harbor"
type: kubernetes.io/tls
data:
  tls.crt: {{ wildcard_cert_json.data['tls.crt'] }}
  tls.key: {{ wildcard_cert_json.data['tls.key'] }}