#!/bin/bash
set -e
# Create and push multi-arch manifest lists for {{ image_name }}
{% for tag in image_tags %}
podman manifest rm {{ image_name }}:{{ tag }} 2>/dev/null || true
podman manifest create {{ image_name }}:{{ tag }} \
{% for arch in arch_build_nodes.keys() %}
  {{ image_name }}:{{ image_tags[0] }}-{{ arch }}{{ ' \\' if not loop.last else '' }}
{% endfor %}

podman manifest push --tls-verify=true \
  {{ image_name }}:{{ tag }} \
  docker://{{ image_name }}:{{ tag }}
{% endfor %}
