# Copyright 2025 Alejandro Martínez Corriá and the Thinkube contributors
# SPDX-License-Identifier: Apache-2.0

network:
  version: 2
  renderer: networkd
  ethernets:
    # Physical ethernet interface - no IP address assigned directly
    {{ primary_interface }}:
      dhcp4: no
      dhcp6: no
      # No addresses - interface used by bridge only
  
  # Bridge interface - gets the actual IP address
  bridges:
    {{ network_bridge_name }}:
      interfaces: [{{ primary_interface }}]
      addresses:
        - {{ ansible_host }}/24
      routes:
        - to: default
          via: {{ network_gateway }}
      nameservers:
        addresses: [8.8.8.8, 8.8.4.4]
      parameters:
        stp: false
        forward-delay: 0
      dhcp4: no
      dhcp6: no