# Copyright 2025 Alejandro Martínez Corriá and the Thinkube contributors
# SPDX-License-Identifier: Apache-2.0

network:
  version: 2
  renderer: networkd
  ethernets:
    # Physical ethernet interface - direct IP assignment after bridge removal
    {{ primary_interface }}:
      dhcp4: no
      addresses:
        - {{ ansible_host }}/24
      routes:
        - to: default
          via: {{ gateway_ip }}
      nameservers:
        addresses: [8.8.8.8, 8.8.4.4]