# Copyright 2025 Alejandro Martínez Corriá and the Thinkube contributors
# SPDX-License-Identifier: Apache-2.0

---
# ansible/40_thinkube/core/jupyterhub/00_install.yaml
# Description:
#   Orchestrator playbook for JupyterHub deployment
#   Images are built separately in custom-images module
#
# Requirements:
#   - Kubernetes (k8s-snap) must be installed and running
#   - Keycloak must be deployed (mandatory, no fallback)
#   - JuiceFS must be deployed (mandatory, no fallback)
#   - thinkube-control must be running (mandatory, no fallback)
#   - Harbor registry must be accessible
#   - tk-jupyter-base image must be built (see harbor-images/15_build_jupyter_images.yaml)
#   - Venvs uploaded to GitHub (see 99_build_venvs.yaml)
#
# Usage:
#   cd ~/thinkube
#   ./scripts/tk_ansible ansible/40_thinkube/core/jupyterhub/00_install.yaml
#
# Venvs:
#   Pre-built virtualenvs are downloaded from GitHub releases during pod startup.
#   To build new venvs: ./scripts/tk_ansible ansible/40_thinkube/core/jupyterhub/99_build_venvs.yaml
#   Then upload to: https://github.com/thinkube/thinkube-venvs/releases
#
# Variables from inventory:
#   - All variables required by individual playbooks
#   - jupyter_venvs_version: Version of venvs to download (default: v0.1.0)

- name: JupyterHub - Configure Keycloak
  import_playbook: 10_configure_keycloak.yaml

- name: JupyterHub - Deploy
  import_playbook: 11_deploy.yaml

- name: JupyterHub - Configure Code Server Storage
  import_playbook: 16_configure_code_server_storage.yaml

- name: JupyterHub - Configure Service Discovery
  import_playbook: 17_configure_discovery.yaml