# Copyright 2025 Alejandro Martínez Corriá and the Thinkube contributors
# SPDX-License-Identifier: Apache-2.0

Host github.com-{{ github_repo_name }}
    HostName github.com
    User git
    # Use the POD path for the identity file
    IdentityFile {{ pod_code_path }}/.ssh/{{ github_repo_name }}/id_ed25519
    StrictHostKeyChecking no