# Copyright 2025 Alejandro Martínez Corriá and the Thinkube contributors
# SPDX-License-Identifier: Apache-2.0

Host github.com-{{ github_repo_name }}
    HostName github.com
    User git
    IdentityFile {{ ssh_private_key_path }}
    StrictHostKeyChecking no