# Copyright 2025 Alejandro Martínez Corriá and the Thinkube contributors
# SPDX-License-Identifier: Apache-2.0

[default]
access_key = {{ s3_access_key }}
secret_key = {{ s3_secret_key }}
host_base = {{ seaweedfs_s3_hostname }}
host_bucket = {{ seaweedfs_s3_hostname }}/%(bucket)s
use_https = True
check_ssl_certificate = False
signature_v2 = True
use_path_style = True