# Copyright 2025 Alejandro Martínez Corriá and the Thinkube contributors
# SPDX-License-Identifier: Apache-2.0

apiVersion: v1
kind: ConfigMap
metadata:
  name: pgadmin-oauth-config
  namespace: {{ pgadmin_namespace }}
data:
  oauth2_config.json: |
    {
      "config": [
        {
          "OAUTH2_NAME": "keycloak",
          "OAUTH2_DISPLAY_NAME": "Keycloak Login",
          "OAUTH2_CLIENT_ID": "pgadmin",
          "OAUTH2_CLIENT_SECRET": "{{ pgadmin_oidc_client_secret }}",
          "OAUTH2_TOKEN_URL": "{{ keycloak_url }}/realms/{{ keycloak_realm }}/protocol/openid-connect/token",
          "OAUTH2_AUTHORIZATION_URL": "{{ keycloak_url }}/realms/{{ keycloak_realm }}/protocol/openid-connect/auth",
          "OAUTH2_API_BASE_URL": "{{ keycloak_url }}/realms/{{ keycloak_realm }}",
          "OAUTH2_USERINFO_ENDPOINT": "{{ keycloak_url }}/realms/{{ keycloak_realm }}/protocol/openid-connect/userinfo",
          "OAUTH2_SCOPE": "openid email profile",
          "OAUTH2_USERNAME_CLAIM": "preferred_username",
          "OAUTH2_BUTTON_COLOR": "#55277e",
          "OAUTH2_ICON": "fa-openid",
          "OAUTH2_SERVER_METADATA_URL": "{{ keycloak_url }}/realms/{{ keycloak_realm }}/.well-known/openid-configuration",
          "OAUTH2_JWKS_URI": "{{ keycloak_url }}/realms/{{ keycloak_realm }}/protocol/openid-connect/certs"
        }
      ]
    }