# Copyright 2025 Alejandro Martínez Corriá and the Thinkube contributors
# SPDX-License-Identifier: Apache-2.0

{
  "auths": {
    "{{ harbor_registry }}": {
      "username": "{{ admin_username }}",
      "password": "{{ admin_password }}",
      "auth": "{{ (admin_username + ':' + admin_password) | b64encode }}"
    }
  }
}