# Copyright 2025 Alejandro Martínez Corriá and the Thinkube contributors
# SPDX-License-Identifier: Apache-2.0

# VFIO PCI audio device rule - prevent certain audio devices from binding to snd_hda_intel
# {{ ansible_managed }}

# For RTX 3090 audio controller at 01:00.1
SUBSYSTEM=="pci", ATTR{vendor}=="0x10de", ATTR{device}=="0x1aef", ACTION=="add", RUN+="/usr/local/bin/vfio-bind-audio.sh 01:00.1"