# Copyright Alejandro Martínez Corriá and the Thinkube contributors
# SPDX-License-Identifier: Apache-2.0

host: https://{{ cvat_hostname }}
username: {{ admin_username }}
password: {{ admin_password }}
